body {
  font-family: helvetica, sans-serif;
  text-align: center;
}
.heading, h1 {
  color: white;
  background-image: url('../images/the-flatiron-building.png');
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
.nav {
  font-size: 18px;
  color: white;
  }
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
font-size: 14px;
}
.heading h2 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url('../images/the-flatiron-building.png');
}
.footer p {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
